a {
  color: rgb(63, 59, 59);
}

div {
  background-color: white;
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
}

.btn-primary {
  background-color: rgb(247, 247, 130);
  color: rgb(63, 59, 59);
  border-radius: 5px;
  margin-bottom: 5px;
}

.btn-primary:hover {
  background-color: goldenrod;
}
.btn-secondary:hover {
  background-color: rgb(199, 7, 125);
}

.current-city {
  font-size: 35px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-weather {
  display: flex;
  margin: 40px 80px auto auto;
}

.current-temperature-icon {
  position: relative;
  top: 4px;
  font-size: 40px;
  margin-right: 10px;
}

.current-temperature {
  position: relative;
  font-size: 50px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -25px;
}

.footer {
  text-align: center;
  color: green;
  background-color: rgb(245, 176, 245);
  border-radius: 10px;

  margin: 0px auto 10px auto;
  max-width: 50%;
  max-height: 40%;
}
